body {
  margin: 0px;
  padding: 0px;

  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;

  display: flex;
  flex-direction: column;
}

header {
  background-color: black;
}

.project {
  border: 3px solid grey;
  border-radius: 20px;
}

/* set image dimensions relative to parent element */
.project-thumbnail {
  max-width: 100%;
}

/* set project image containers to a fixed width */
.project-image-container {
  max-width: 375px;
}

.icon {
  max-width: 20%;
}
